<header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="https://angular.io/docs" class="flex items-center">
                <img src="../../../favicon.ico" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap ">{{languages}}</span>
            </a>
            <div [ngClass]="{'hidden' : navigationHiddenOrShow, 'block': !navigationHiddenOrShow}"
                class="justify-center items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 lg:mr-5">
                    <li *ngFor="let menu of menuList">
                        <a [routerLink]="menu.link" (click)="onClickMenu()"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 ">
                            {{ menu.label }}
                        </a>
                    </li>
                </ul>
                <div *ngIf="user" class="relative group">
                    <h2>Hello, {{user.user.name}}</h2>

                    <button (click)="logOut()">Đăng xuất</button>

                </div>
                <div *ngIf="!user">
                    <a routerLink="/login"
                        class="p-2 lg:px-4 md:mx-2 text-indigo-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-indigo-700 transition-colors duration-300">Login</a>
                    <a routerLink="/signup"
                        class="p-2 lg:px-4 md:mx-2 text-indigo-600 text-center border border-solid border-indigo-600 rounded hover:bg-indigo-600 hover:text-white transition-colors duration-300 mt-1 md:mt-0 md:ml-1">Signup</a>
                </div>

            </div>
        </div>
    </nav>
</header>

<!-- <li *ngFor="let menu of menuList">
    <a
      [href]="menu.link"
      class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
      >{{ menu.label }}</a
    > -->